h1 {
    text-align: center;
}
header a {
    text-decoration: none;
    border-radius: 30px 30px;
    border: 2px solid black;
    padding: 4px;
    color: rgb(19, 0, 39);
    background-color: white;
}
header p{
    font-size: 21px;
    text-align: center;
}
header {
    background-color: rgb(21, 146, 183);
    padding: 2px;
}
body {
    margin: 0px;
    font-family: Gill Sans, sans-serif;
}

p img {
    border-radius: 30px 30px;
    border: 2px solid black;
    padding: 2px;
    align-items: center;
}
main p {
    font-size: 20px;
}
footer a {
    border-radius: 30px 30px;
    border: 2px solid black;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
